
@{
    ViewBag.Title = "GetListChuDe";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
<header id="home" class="backstretched single-page-hero">
    <div class="dark-overlay single-page-hero">
        <div class="container single-page-hero">
            <div class="vertical-center-js text-center">
                <h1>Chủ Đề</h1>
            </div>
        </div>
    </div>
</header>

<section class="silver-wrapper" id="the-gallery">
    <div class="section-inner">
        <div class="container">
            <div class="row mb60 text-center">
                <div class="col-sm-12">
                    <h3 class="section-title">Campus News</h3>
                    <p class="section-sub-title">A finger on the pulse of our culture.</p>
                </div>
            </div>
            <div class="row">
                @foreach (var item in ViewData["ChuDes"] as List<DAL.EF.CHUDE_TUVUNG>)
                {
                    <div class="col-md-4 mb40 match-height">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="~/assets/images/blog-1.jpeg" alt="Image" class="img-responsive smoothie">
                            </a>
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-center-js">
                                    <h4>@item.TEN_CHU_DE</h4>
                                </div>
                            </div>
                            <div class="hover-caption dark-overlay smoothie text-center">
                                <div class="vertical-center-js">
                                    <p class="mb20"><small>Credibly monetize empowered portals before distinctive methodologies. Distinctively customize multifunctional metrics before accurate technologies. Energistically matrix cooperative sources rather than virtual supply chains.</small></p>
                                    @Html.ActionLink("Learn", "GetChiTietChuDe", "Course", new { id = item.MA_CHU_DE }, new { @class = "btn btn-primary btn-green" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

