@model DAL.EF.TIN_TUC
@{
    ViewBag.Title = "ChiTieTTinTuc";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<header id="home" class="backstretched single-page-hero">
    <div class="dark-overlay single-page-hero">
        <div class="container single-page-hero">
            <div class="vertical-center-js text-center">
                <h1>Chi Tiết Tin Tức</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>@Model.TEN_TIN_TUC</h2>

                    <img src="~/assets/images/@Model.HINH_ANH" />
                    <p class="lead">
                        @Model.NOI_DUNG
                    </p>
                    <p class="lead">
                        @Model.NGUON_TIN_TUC
                    </p>
                    <p class="lead">
                        @Model.NGAY_DANG
                    </p>
                    <div class="mb90 clearfix"></div>

                    <div id="comments-list" class="wow fadeIn" data-wow-delay="0.2s">
                        <div class="mt60 mb50 single-section-title">
                            <h3>3 Comments</h3>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/9" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
                                    <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/5" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                            </div>
                                            <p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
                                            <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                        </div>
                                    </div>
                                </div><!--/.media-->
                            </div>
                        </div><!--/.media-->
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/6" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
                                    </div>
                                    <p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
                                    <a class="btn btn-primary pull-right mt30" href="#">Reply</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-1 sidebar">
                    <div class="gallery-widget widget mb40">
                        <h4 class="widget-title mb40">Gallery</h4>
                        <div class="widget-content">
                            <div class="gallery-list">
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=548">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=659">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=974">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image748">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=484">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=298">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-widget widget mb40">
                        <h4 class="widget-title mb40">Location</h4>
                        <div class="widget-content">
                            <p>Conveniently enhance high-quality imperatives vis-a-vis team driven technologies. Intrinsicly fashion economically sound communities rather than principle-centered deliverables. Synergistically impact.</p>
                        </div>
                    </div>
                    <div class="useful-link-widget widget mb40">
                        <h4 class="widget-title mb40">Pages</h4>
                        <div class="widget-content">
                            <div class="useful-link-list">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Teachers</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Support</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Why Scholar</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Social Media</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Site Map</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Company</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Latest Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Partners</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Blog Post</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Help Topic</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Policies</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mailing-widget widget">
                        <h4 class="widget-title mb40">Mailing List</h4>
                        <div class="content-wiget">
                            <p class="mb40">Subscribe to our newsletter for the latest updates and offers.</p>
                            <form action="index.html">
                                <div class="input-group">
                                    <input class="form-control form-email-widget" placeholder="Email address" type="text"><span class="input-group-btn"><input class="btn btn-email" type="submit" value="✓"></span>
                                </div>
                            </form>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



